*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
.list1{
    list-style: none;
}
.headerFull{
    width:1519px;
    height:94px;
    /*background-color: red;*/
    margin-top:20px;
}
.clearFix::after,.clearFix::before{
    display:block;
    content:"";
    height:0;
    visibility: hidden;
}
.headerFull .logo{
    width:25%;
    height:100%;
    float:left;
}
.headerFull .logo img{
    float:right;
}
.headerFull .content{
    width:615px;
    height:100%;
    /*background-color:pink;*/
    float:left;
    margin-left:8.3%;
}
.headerFull .content .list1 li{
    float:left;
    padding-right:1.9em;
    padding-left:1.9em;
    padding-top:1.9em;
}
.headerFull .header-search{
    width:302px;
    height:34px;
    float:right;
    margin-top:1.9em;
    /*border:1px solid black;*/
    margin-right:55px;
    position: relative;
}
.header-search .search-form{
    display:block;
    width:100%;
    height:34px;
} 
.header-search .search-form .search-text{
    display:block;
    width:87%;
    height:34px;
    line-height:34px;
    border:1px solid #e0e0e0;
    outline:0;
    box-sizing:border-box;
}
.header-search .search-form .search-btn{
    display:block;
    width:13%;
    height:34px;
    border:1px solid #e0e0e0;
    font-size:15px;
    line-height:15px;
    background-color: #fff;
    color:#616161;
    outline:0;
    position: absolute;
    top:0;
    right:0;
    box-sizing:border-box;
    border-radius:0 4px 4px 0;
}
.container-middle{
    width:1519px;
    height:2028px;
   
}
.fix-all{
    width:308px;
    height:380px;
    position:fixed;
    top:200px;
    right:0;
    z-index: 9000;
}
.left{
    width:280px;
    height:247px;
    
    position: fixed;
    top:200px;
    right:0;
    
}
.left .img{
    margin-left:55px;
    position: relative;
}
.left .fix-ewm{
    width:280px;
    height:86px;
    position: absolute;
    bottom:2px;
}
.left .fix-ewm img{
    margin-left:82px;
}
.fix-text{
    width:280px;
    height:34px;
    display:block;
    color:#087625;
    text-align:center;
    margin-top:260px;
}
.fix-all .fix-text2{
    width:280px;
    height:34px;
    display:block;
    color:#087625;
    text-align:center;
    
}
.container-middle .row{
    width:1519px;
    height:50px;
}
.container-middle .row .navbar{
    width:1519px;
    height:50px;
    background-color: #195A2F;
}
.container-middle .row .navbar .nav-header{
    width:382px;
    height:50px;
    /*background-color: blue;*/
    float:left;
    margin-left:8.3%;
}
.container-middle .row .navbar .nav-header .nav_headerin{
    width:290px;
    height:50px;
    background-color: #063022;
    border:1px solid #063022;
    box-sizing:border-box;
    
}
.container-middle .row .navbar .nav-header .nav_headerin .nav-headerinin .navbar-brand{
    color:#ffffff;
    padding-right:7em;
    padding-left:2em;
    white-space:nowrap;
}
.container-middle .row .navbar .nav-header .nav_headerin .nav-headerinin .navbar-brand .pic{
    width:24px;
    height:24px;
    float:left;
    margin-left:5px;
    margin-top:15px;
}
.container-middle .row .navbar .nav-header .nav_headerin .nav-headerinin .navbar-brand .text{
    width:103px;
    height:27px;
    float:left;
    margin-top:15px;
}
.container-middle .row .navbar .nav-header .nav_headerin .nav-headerinin .navbar-brand .text span{
    font-size:18px;
    color:#ffffff;
    line-height:19px;
}
.container-middle .row .navbar .intd{
    width:900px;
    height:50px;
    float:left;
    margin-left:30px;
}
.container-middle .row .navbar .intd ul{
    height:50px;
    list-style:none;
}
.container-middle .row .navbar .intd ul li{
    width:90px;
    height:50px;
    float:left;
    font-size:15px;
    margin-left:50px;
    
    line-height:50px;
    text-align: center;
}
.container-middle .row .navbar .intd ul li:first-child{
    margin-left:0;
}
.container-middle .row .navbar .intd ul li a{
    color:#ffffff;
}
.container-middle .row .navbar .intd ul li:hover{
    background-color:#063022;
}
.container-middle .container-big{
    width:1519px;
    height:400px;
    
}
.menu{
    position:relative;

}
.dropdown_menu{
    width:290px;
    height:424px;
    background-color: #195A2F;
    border-radius:0 0 6px 6px;
    position:absolute;
    z-index:1000;
    
}
.dropdown_menu .dropdown-header{
    color:#ffffff;
    font-size:1.2em;
    display:block;
    padding:3px 20px;
    white-space:nowrap;
}
.dropdown_menu .dropdown-fleft{
    display:block;
    float:left;
    padding:3px 10px;
    background-color:#195A2F;
}
.dropdown_menu .dropdown-fleft:hover{
    background-color:#063022;
}
.dropdown_menu .dropdown-fleft a{
    color:#ffffff;
    padding:3px 10px;
    clear:both;
    white-space:nowrap;
    font-weight: 400;
    font-size:14px;
}
.dropdown_menu .divider{
    width:100%;
    height:1px;
    background-color: #063022;
    margin:9px 0;
    /*overflow:hidden;*/
}
#wrap{
    width:1519px;
    height:400px;
    z-index:1;
    position: relative;
    overflow:hidden;
}
#wrap #main{
    width:7595px;
    height:400px;
    font-size:0;
    position: absolute;
    left:-1519px;
}
#wrap #list{
    position: absolute;
    bottom:20px;
    left:50%;
    margin-left:-35px;
    font-size:0;
}
#wrap #list li{
    display:inline-block;
    width:8px;
    height:8px;
    border-radius: 50%;
    border:1px solid white;
    margin:3px;
    cursor:pointer;
}
#wrap #list .active{
    background-color: white;
}
#wrap .arrow{
    position:absolute;
    top:50%;
    margin-top:20px;
    width:10px;
    height:30px;
    text-align: center;
    line-height:40px;
    font-weight: bold;
    font-size:40px;
    color:#fff;
}
#prev{
    left:100px;
}
#next{
    right:100px;
}
.container_m_m{
    width:1519px;
    height:500px;
    background-image:url(../images/0001.jpg);
}
.container_m_align{
    width:1519px;
    height:440px;
    padding-top:60px;
}
.box1{
    width:1018px;
    height:378px;
    margin:0 auto;
    background-color:rgb(255, 250, 250, 0.8);
    border-radius: 6px;
}
.title{
    padding-bottom:30px;
    text-align: center;
}
.title h3{
    display:inline-block;
    font-size:24px;
    font-weight:normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    color: inherit;
}
.title h4{
    font-weight:normal;
    color:#777;
}
.box1 .box1_1{
    width:970px;
    height:250px;
    margin-bottom:10px;
    margin:auto;
}
.box1 .box1_1 .box1_1_1 {
    width:210px;
    height:100%;
    float:left;
    margin-left:40px;
}
.box1 .box1_1 .box1_1_1:first-child{
    margin-left:0;
}
.box1 .box1_1 .box1_1_1 a span{
    display:block;
    font-size:17px;
    text-align: center;
    color:#333;
    padding-top:0.2em;
}
.box1 .box1_1 .box1_1_1 img{
    border-radius: 3%;
}
.container_m_l{
    width:1519px;
    height:870px;
    
}
.m_box{
    width:1519px;
    height:870px;
    margin-top:5em;
    margin-bottom:40px;
    
}
.m_box .m_box_1{
    width:1080px;
    height:715px;
    margin-left:15.5%;
    
}
.m_box .m_box_1 .m_box_1_1{
    width:299px;
    height:347px;
    float:left;
    margin-left:25px;
}

.m_box .m_box_1 .m_box_1_1 img{
    border-radius: 5px;
}
.m_box .m_box_1 .m_box_1_1 span{
    display:block;
    text-align: center;
    color:#333;
    padding-top:0.5em;
}
.footer{
    width:1519px;
    height:168px;
    border:1px solid #333;
    box-sizing:border-box;
    background-color: #333;

}
.footer .container{
    width:1488px;
    height:130px;
    margin-left:auto;
    margin-right:auto;
    
    margin-top:25px;
}
.footer .container .box3{
    width:1364px;
    height:130px;
    margin-left:8.3%;
    
}
.footer .container .box3 .box3_1{
    width:333px;
    height:130px;
    margin-left:10px;
    
    float:left;
}
.box3 .box3_1 h4{
    color:#59923f;
    font-weight:600;
    font-size:18px;
    font-family: inherit;
}
.box3 .box3_1 .ul{
    list-style:none;
    
    
}
.box3 .box3_1 li{
    display:block;
    margin-top:8px;
    color: #CFCFCF;;
    font-size:12px;
}
.footer .box3 .footer-img{
    width:226px;
    height:77px;
    float:left;
    margin-top:20px;
    position: relative;

}
.footer .box3 .footer-img img{
    position: absolute;
    left:100px;
}

